.footer{
    @include font($font:$font, $size:1.2rem, $line_height:1.5rem, $color:$white, $font_weight:$regular);

    a:hover{
        color: $white !important;
        text-decoration: underline;
    }

    &_address{
        background-color: $color-secondDark;
        padding: 2rem 0 2rem 0;
    }

    &_information{
        background-color: $color-second;
        padding: 1rem 0 1rem 0;
    }

    &_navbar{
        li{
            display: inline-block;
            border-left: .1rem solid $white;
            padding: 0 .5rem;

            &:first-child{
                border: none;
            }
        }
    }
    .break-line{
        @include mq($until: sm) {
            @include break-line(before){
                display: block;
            }
        }
    }
}